/*.container{
    width: 50%;
    height: 50%;
    background-color: rgb(167, 212, 241);
    margin: auto;
    border-radius: 12px;
    margin-top: 75px;
}*/
/* 
.main-weather{
   
    border-radius: 15px;
    background-color: #91c5ec;
    font-size: 2.0rem;
    opacity: 0.9;
    box-sizing: border-box;
    width: 20rem;
    height: 10rem;
    margin-left: 56rem;
    margin-top: 1rem;
    background-image: url("../../../images/v957-wan-12.jpg");
    margin-bottom: 1rem;

}
    



.header-weather{
    margin-left: 3rem;
    margin-top: 2rem;
    color:black;
    font-size: 28px;
    border-radius: 15px;
    font-family: Ginto Nord;
}

.day{
    padding: 15px;
    color: black;
    font-family: Ginto Nord;
    font-size: 24px;
    font-weight: 600;
    margin-left: 2rem;
}

.temp{
    
    color: black;
    font-family: Ginto Nord;
    font-size: 24px;
    margin-left: 6rem;
    margin-top: -4.7rem;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.description{
    padding: 15px;
    color: rgb(33, 32, 32);
    font-family: Ginto Nord;
    font-size: 24px;
    font-weight: 600;
    margin-left: 14rem;
    margin-top: -5.7rem;
}
.img{
    margin-left: 1.6rem;
    width: 5rem;
} */


.main-weather {
   margin-bottom: 2rem;
  

}

.main-weather p {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.weather-temp,
.day-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}
