.Map {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* sizing of map container */

.leaflet-container {
  height: 50vh;





}


.map-box{
  padding:0 6px;
}